<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Easywebcam" version="1.0.0" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.2-ci1033" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
  <package id="MMaitre.MediaCaptureWPF" version="1.0.0" targetFramework="net452" />
</packages>